<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="admin@example.com">
  <Info>
    <Comments />
    <Name>Administrator</Name>
    <Username>admin@example.com</Username>
    <Email>admin@example.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEHzygniatWYek15XMgv1ClP6D6/BdfRi9Jep3L+QtTq0fM+lZewOX3simdIkfwguHg==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
</User>