/CGTalk22/uSync.Complete/UmbracoCms.8.18.4/Umbraco8Site/packages
/CGTalk22/uSync.Complete/UmbracoCms.8.18.4/Umbraco8Site/Umbraco8Site/bin
/CGTalk22/uSync.Complete/UmbracoCms.8.18.4/Umbraco8Site/Umbraco8Site/obj
/CGTalk22/uSync.Complete/UmbracoCms.8.18.4/Umbraco8Site/Umbraco8Site/Umbraco
/CGTalk22/uSync.Complete/UmbracoCms.8.18.4/Umbraco8Site/Umbraco8Site/App_Data/TEMP
/CGTalk22/uSync.Complete/UmbracoCms.8.18.4/Umbraco8Site/Umbraco8Site/App_Data/Logs
/CGTalk22/uSync.Complete/UmbracoCms.8.18.4/Umbraco8Site/Umbraco8Site/App_Data/Models
/CGTalk22/uSync.Complete/UmbracoCms.8.18.4/Umbraco8Site/Umbraco8Site/*.user
/CGTalk22/uSync.Complete/UmbracoCms.8.18.4/Umbraco8Site/.vs
