<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ba0294f9-1db2-489b-afaa-b95293b45033" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="342a17ad-1661-4535-8646-1d26b0db89c4">contentBase</Composition>
      <Composition Key="2c0628b7-743a-42a4-a34a-2b476cc7b380">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8f42f87b-a820-4281-a2d4-cd6a36b0eb06">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="69591366-e16c-4cad-9671-16bcb4e05a66" SortOrder="0">blogpost</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8e0e02cf-ee38-4d9b-a2ff-0d387ae4ec58</Key>
      <Name>Disqus Shortname</Name>
      <Alias>disqusShortname</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To use comments, you'll need to sign up for Disqus and enter your shortname here (more info: https://help.disqus.com/customer/portal/articles/472097-universal-embed-code)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>74f7e2e8-45b9-467a-8be4-df29eed721d7</Key>
      <Name>How many posts should be shown?</Name>
      <Alias>howManyPostsShouldBeShown</Alias>
      <Definition>9d5ba2c5-ed7a-41f8-b454-9fc65f48752e</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
      <Alias>settings</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>