<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d19e0ed7-42c9-4c9e-9577-c444f626d8f7" Alias="contact" Level="1">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-map-location color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2c0628b7-743a-42a4-a34a-2b476cc7b380">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8f822a99-bac1-428a-b95d-a5a4fddc6016">contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5856b349-599f-4f0d-8acd-6edc610f0122</Key>
      <Name>Pick a Contact Form</Name>
      <Alias>contactForm</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If Umbraco Forms is installed you'll be able to select a form]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="form">Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a9917d88-63f1-4e6e-94ea-42d2a1c70ad1</Key>
      <Name>Contact Form Header</Name>
      <Alias>contactFormHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="form">Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f32f4d58-7e15-4998-aa1d-a0be52369f2e</Key>
      <Name>Contact Intro</Name>
      <Alias>contactIntro</Alias>
      <Definition>ecbbac0d-974e-490c-b533-fead926dc525</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="form">Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b8f1883-589c-4247-8a0e-904f9caba291</Key>
      <Name>Map Coordinates</Name>
      <Alias>mapCoordinates</Alias>
      <Definition>fc1475d2-7c7b-4b2f-bc53-54c86fd43d6c</Definition>
      <Type>Our.Umbraco.OsmMaps</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="map">Map</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f2ed2a6b-f086-4d85-845f-12ceff897d74</Key>
      <Name>Map Header</Name>
      <Alias>mapHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="map">Map</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08f03d85-f346-46de-9ed6-351ccaf45322</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the page, this is also the first text in a google search result. The ideal length is between 40 and 60 characters]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="form">Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Form</Caption>
      <SortOrder>0</SortOrder>
      <Alias>form</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Map</Caption>
      <SortOrder>1</SortOrder>
      <Alias>map</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>