<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da0f8aec-1675-440d-b6c2-eccfec64df28" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="342a17ad-1661-4535-8646-1d26b0db89c4">contentBase</Composition>
      <Composition Key="2c0628b7-743a-42a4-a34a-2b476cc7b380">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d7c2a15d-244a-4893-81da-8ccfc60f187d">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="da0f8aec-1675-440d-b6c2-eccfec64df28" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>